<template>
  <ion-page class="team-detail">
    <AppHeader  :subPage="true"   pageTitle="Team Detail" :desktop="true"></AppHeader>
    <ion-content :fullscreen="true">
      <AppHeader :subPage="true"  pageTitle="Team Detail"></AppHeader>
      <ion-grid>
        <ion-row>
          <ion-col size="4" size-lg="2">
            <img :src="teamDetail.team.team_media.icon" class="img-circle">
          </ion-col>
          <ion-col size="8">
            <ion-text color="text">
              <h1 class="ion-no-margin">{{ teamDetail.team.team_media.name }}</h1>
            </ion-text>
            <ion-text color="text">
              <p class="ion-no-margin">{{ teamDetail.team?.league?.title }}</p>
            </ion-text>
            <ion-text color="purple">
              <h4>{{ teamDetail.team.wins }}-{{ teamDetail.team.losses}}-{{ teamDetail.team.ties }}</h4>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-segment v-model="activeSegment" >
              <ion-segment-button value="roster">
                Roster
              </ion-segment-button>
              <ion-segment-button value="stats">
                Stats
              </ion-segment-button>
              <ion-segment-button value="schedule">
                Schedule
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <template v-if="activeSegment === 'roster'">
              <ion-list class="ion-text-capitalize">
                <template v-if="roster">
                  <template v-for="(records, index) in roster" v-bind:key="records.id">
                    <div>{{ positionNames(index) }}:</div>
                    <ion-item v-for="record in records" v-bind:key="record.id" :router-link="'/home/person/'+record.player.id">
                        <ion-avatar  slot="start">
                          <img :src="record.player.avatar">
                        </ion-avatar>
                        <ion-label>
                          <ion-row>
                            <ion-col>
                              <div>#{{ record.number }}</div>
                              <!-- <div>{{ positionNames(record.position) }}</div> -->
                              <div>{{ record.player.first_name }} {{record.player.last_name}}</div>
                            </ion-col>
                            <ion-col align="right">
                              <ion-icon :icon="arrowForward" />
                            </ion-col>
                          </ion-row>
                        </ion-label>
                      </ion-item>
                  </template>
                </template> 
                <template v-else>
                  No Team member!
                </template>
              </ion-list>
            </template>
            <template v-if="activeSegment == 'stats'">
              
              <div>Passing</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                  team_id: $route.params.id,
                  league_id: teamDetail.team.league_id
                }"
                :onlyFields="passing_stats()"
              >
              </StatTable>
              <div>Receiving</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                  team_id: $route.params.id,
                  league_id: teamDetail.team.league_id
                }"
                :onlyFields="receiving_stats()"
              >
              </StatTable>
              <div>Defense</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                  team_id: $route.params.id,
                  league_id: teamDetail.team.league_id
                }"
                :onlyFields="defense_stats()"
                
              >
              </StatTable>
            </template>
            <template v-if="activeSegment == 'schedule'">
              <GamesTable :params="{
                  type: 'team_games',
                  team_id: $route.params.id,
                  per_page: 10,
              }">
              </GamesTable>
            </template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>
<script src="./team-detail.ts" lang="ts"></script>
<style lang="scss" src="./team-detail.scss"></style>