<template>
  <div class="schedule-outer-wrapper " @click.prevent>
    <ion-row v-for="(item, index) in items" class="row" v-bind:key="'list-schedule-item' + index + Math.random()">
      <ion-col size="8">
        <ion-row  v-for="(team, index2) in item.team_name" v-bind:key="'list-schedule-item' + index2 + Math.random()">
          <ion-col size="2">
              <img :src="team.image" class="img-circle img-responsive" />
          </ion-col>
          <ion-col size="5">
            {{ team.name }}
          </ion-col>
          <ion-col class="">
            <span class="ion-color-medium">{{ team.score }}</span>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="4">
        <ion-row v-if="true">
          <ion-col size="12"> 
            <span class="schedule-text">{{ item.schedule }}</span>
          </ion-col>
          <!-- <ion-col size="2">
            <ion-icon :icon="notificationsCircle" />
          </ion-col> -->
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</template>

<style lang="scss" src="./ScheduleTable.scss"></style>
<script lang="ts" src="./ScheduleTable.ts"></script>