ion-segment {

    background-image: linear-gradient(to right, rgb(214, 60, 63) , rgb(49, 89, 220));

    ion-segment-button {
        @media screen and (min-width: 768px) {
            color: white;
        }

        &.segment-button-checked {
            position: relative;
            
        }
        @media screen and (min-width: 767px) {

            &.segment-button-checked {
                background: rgba(255,255,255, 0.7);
            }
        }
    }

    &.white {
        background: #eaeaea;
    }
}

.segment-button-indicator-background {
    background: white !important;
}
@media (prefers-color-scheme: dark) {
    ion-tab-button {
        background: rgba(0,0,0,0.8);
    }
}