.img-circle {
    border-radius: 50% !important;
}

@media (prefers-color-scheme: dark) {
    .show-on-dark {
        display: block;
    }

    .show-on-light {
        display: none;
    }
}
@media (prefers-color-scheme: light) {
    .show-on-light {
        display: block;
    }
    .show-on-dark {
        display: none;
    }
}