$black: #000;

/**
  * overwriting default color
  https://ionicframework.com/docs/theming/colors
  */


:root {
	--ion-color-text: #111;
	--ion-color-text-rgb: 17,17,17;
	--ion-color-text-contrast: #ffffff;
	--ion-color-text-contrast-rgb: 255,255,255;
	--ion-color-text-shade: #0f0f0f;
	--ion-color-text-tint: #292929;

  --ion-color-primary: #d63c3f;
  --ion-color-primary-rgb: 214,60,63;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #bc3537;
  --ion-color-primary-tint: #da5052;

}



@media (prefers-color-scheme: dark) {
	::root {
		--ion-color-text: #eaeaea;
		--ion-color-text-rgb: 234,234,234;
		--ion-color-text-contrast: #eaeaea;
		--ion-color-text-contrast-rgb: 234,234,234;
		--ion-color-text-shade: #eaeaea;
		--ion-color-text-tint: #eaeaea;
	}
}


.ion-color-medium {
	--ion-color-base: var(--ion-color-medium);
	--ion-color-base-rgb: var(--ion-color-medium-rgb);
	--ion-color-contrast: var(--ion-color-medium-contrast);
	--ion-color-contrast-rgb: var(--ion-color-medium-contrast-rgb);
	--ion-color-shade: var(--ion-color-medium-shade);
	--ion-color-tint: var(--ion-color-medium-tint);
	color: var(--ion-color-medium);
}

.ion-color-light {

	--ion-color-base: var(--ion-color-light);
	--ion-color-base-rgb: var(--ion-color-light-rgb);
	--ion-color-contrast: var(--ion-color-light-contrast);
	--ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb);
	--ion-color-shade: var(--ion-color-light-shade);
	--ion-color-tint: var(--ion-color-light-tint);
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

:root {
	--ion-color-secondary: #3159dc;
	--ion-color-secondary-rgb: 49,89,220;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #2b4ec2;
	--ion-color-secondary-tint: #466ae0;
}

.ion-color-secondary {
	--ion-color-base: var(--ion-color-secondary);
	--ion-color-base-rgb: var(--ion-color-secondary-rgb);
	--ion-color-contrast: var(--ion-color-secondary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
	--ion-color-shade: var(--ion-color-secondary-shade);
	--ion-color-tint: var(--ion-color-secondary-tint);
}

:root {
	--ion-color-purple: #7d397e;
	--ion-color-purple-rgb: 125,57,126;
	--ion-color-purple-contrast: #ffffff;
	--ion-color-purple-contrast-rgb: 255,255,255;
	--ion-color-purple-shade: #6e326f;
	--ion-color-purple-tint: #8a4d8b;
}

.ion-color-purple {
	--ion-color-base: var(--ion-color-purple);
	--ion-color-base-rgb: var(--ion-color-purple-rgb);
	--ion-color-contrast: var(--ion-color-purple-contrast);
	--ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
	--ion-color-shade: var(--ion-color-purple-shade);
	--ion-color-tint: var(--ion-color-purple-tint);
}

.ion-color-text {
	--ion-color-base: var(--ion-color-text);
	--ion-color-base-rgb: var(--ion-color-text-rgb);
	--ion-color-contrast: var(--ion-color-text-contrast);
	--ion-color-contrast-rgb: var(--ion-color-text-contrast-rgb);
	--ion-color-shade: var(--ion-color-text-shade);
	--ion-color-tint: var(--ion-color-text-tint);
}

:root {
	--ion-color-rac-gradient-start: #e93d33;
	--ion-color-rac-gradient-start-rgb: 233,61,51;
	--ion-color-rac-gradient-start-contrast: #ffffff;
	--ion-color-rac-gradient-start-contrast-rgb: 255,255,255;
	--ion-color-rac-gradient-start-shade: #cd362d;
	--ion-color-rac-gradient-start-tint: #eb5047;
}

.ion-color-rac-gradient-start {
	--ion-color-base: var(--ion-color-rac-gradient-start);
	--ion-color-base-rgb: var(--ion-color-rac-gradient-start-rgb);
	--ion-color-contrast: var(--ion-color-rac-gradient-start-contrast);
	--ion-color-contrast-rgb: var(--ion-color-rac-gradient-start-contrast-rgb);
	--ion-color-shade: var(--ion-color-rac-gradient-start-shade);
	--ion-color-tint: var(--ion-color-rac-gradient-start-tint);
}


:root {
	--ion-color-rac-gradient-end: #2d56d2;
	--ion-color-rac-gradient-end-rgb: 45,86,210;
	--ion-color-rac-gradient-end-contrast: #ffffff;
	--ion-color-rac-gradient-end-contrast-rgb: 255,255,255;
	--ion-color-rac-gradient-end-shade: #284cb9;
	--ion-color-rac-gradient-end-tint: #4267d7;
}

.ion-color-rac-gradient-end {
	--ion-color-base: var(--ion-color-rac-gradient-end);
	--ion-color-base-rgb: var(--ion-color-rac-gradient-end-rgb);
	--ion-color-contrast: var(--ion-color-rac-gradient-end-contrast);
	--ion-color-contrast-rgb: var(--ion-color-rac-gradient-end-contrast-rgb);
	--ion-color-shade: var(--ion-color-rac-gradient-end-shade);
	--ion-color-tint: var(--ion-color-rac-gradient-end-tint);
}