<template>
  <div>
    <!-- <pre>{{ drives }}</pre> -->
    <template v-for="index in drives"  v-bind:key="index + Math.random()">

      <ion-accordion-group>


        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label class="ion-text-uppercase">
              {{ resultOfDrive(index, game.plays) }}
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <template v-for="(play2, index2) in game.plays"  v-bind:key="index2 + Math.random()">
              <div style="margin-bottom: 30px" v-if="play2.drive == index">{{ playMessage(play2) }}</div>
            </template>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <div>
      </div>
    </template>
  </div>
</template>

<script lang="ts" src="./PlaybyPlay.ts"></script>


