
<template>
   <ion-page class="team-detail">
    <AppHeader  :subPage="true"   pageTitle="League" :desktop="true"></AppHeader>
    <ion-content :fullscreen="true" :overflow-scroll="true">
      <AppHeader :subPage="true"  pageTitle="League"></AppHeader>
      <!-- <pre>{{ leagues }}</pre> -->
      <ion-grid>
        <ion-row>
          <ion-col size="4" size-lg="2">
            <img :src="leagueDetail.image_src" class="img-circle">
          </ion-col>
          <ion-col size="8">
            <ion-text color="text">
              <h1 class="ion-no-margin">{{ leagueDetail.title }}</h1>
            </ion-text>
            <ion-text color="text">
              <p class="ion-no-margin">{{ leagueDetail.league_type }}</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-segment v-model="activeSegment" >
        <ion-segment-button value="standing">
          Standings
        </ion-segment-button>
        <ion-segment-button value="stats">
          Stats
        </ion-segment-button>
        <ion-segment-button value="schedule">
          Schedule
        </ion-segment-button>
      </ion-segment>

      <ion-row>
          <ion-col>
            <template v-if="activeSegment === 'schedule'">
              <GamesTable :games="games">
              </GamesTable>
            </template>
            <template v-if="activeSegment === 'stats'">
              <div>RAC Ratings</div>
              <StatTable 
                :params="{
                  playerType: 'psr',
                  formatType: 'league_total_player',
                  league_id: $route.params.id
                }"
              >

                <template #name="data">
                  {{ data.item.name }}
                </template>

              </StatTable>
              <div>Passing</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                  formatType: 'league_total_player',
                  league_id: $route.params.id
                }"
                :onlyFields="passing_stats()"
              >
              </StatTable>
              <div>Receiving</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                  formatType: 'league_total_player',
                  league_id: $route.params.id
                }"
                :onlyFields="receiving_stats()"
              >
              </StatTable>
              <div>Defense</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                  formatType: 'league_total_player',
                  league_id: $route.params.id
                }"
                :onlyFields="defense_stats()"
              >
              </StatTable>
            </template>
            <template v-if="activeSegment === 'standing'">
              <div>Standing</div>

              <LongTable
                :fields="[
                  {
                    key: 'name',
                    label: 'Team Name'
                  },
                  'placement',
                  'wins',
                  'losses',
                  'ties',
                  {
                    key: 'win_streak',
                    label: 'Win Streak'
                  },
                  {
                    key: 'win_streak_max',
                    label: 'Longest'
                  },
                  'pf',
                  'pa',
                  'diff'
                ]"
                :items="leagueDetail.teams"
              >
                  <template #name="record">
                    {{ record.item.name }}
                    <ion-avatar>
                      <img  :src="record.item.team_media.icon" />
                    </ion-avatar>
                  </template>

              </LongTable>
            </template>
          </ion-col>
        </ion-row>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./league-detail.ts"></script>
<style lang="scss" src="./league-detail.scss"></style>