<template>
  <ion-page class="my-profile">
    <ion-header>
      <ion-toolbar>
        <ion-title>My profile</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Profile</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-card>
        <ion-card-header class="ion-text-capitalize">
          <ion-img :src="profile.avatar"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <template v-if="!editMode">
            <ion-card-title >{{ profile.first_name }} {{ profile.last_name }}</ion-card-title>
            <ion-card-subtitle>Email: {{ profile.email }}</ion-card-subtitle>
            <ion-card-subtitle>Email 2: {{ profile.secondary_email }}</ion-card-subtitle>
            <ion-card-subtitle>Phone: {{ profile.phone_number }}</ion-card-subtitle>
            <ion-card-subtitle>Gender: {{ profile.gender }}</ion-card-subtitle>
            <br>
            <ion-card-subtitle>Instagram: {{ profile.instagram }}</ion-card-subtitle>
            <ion-card-subtitle>Facebook: {{ profile.facebook }}</ion-card-subtitle>
            <ion-card-subtitle>Twitter: {{ profile.twitter }}</ion-card-subtitle>
            <ion-card-subtitle>tikTok: {{ profile.tiktok }}</ion-card-subtitle>
          </template>
          <template v-else>
            <ion-list>
              <ion-item>
                <ion-label>Name</ion-label>
                <ion-input :placeholder="profile.name" v-model="form.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Email</ion-label>
                <ion-input :placeholder="profile.email" v-model="form.email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Phone</ion-label>
                <ion-input :placeholder="profile.phone_number" v-model="form.phone_number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Gender</ion-label>
                <ion-select placeholder="" v-model="form.gender">
                  <ion-select-option value="female">Female</ion-select-option>
                  <ion-select-option value="male">Male</ion-select-option>
                  <ion-select-option value="-">-</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label>Instagram</ion-label>
                <ion-input :placeholder="profile.instagram" v-model="form.instagram"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Facebook</ion-label>
                <ion-input :placeholder="profile.facebook" v-model="form.facebook"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Twitter</ion-label>
                <ion-input :placeholder="profile.twitter" v-model="form.twitter"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Tiktok</ion-label>
                <ion-input :placeholder="profile.tiktok" v-model="form.tiktok"></ion-input>
              </ion-item>
            </ion-list>
          </template>

         <ion-row>
          <ion-col size="12" align="center">
            <template v-if="!editMode">
              <ion-button color="dark" @click="toggleEdit">Edit</ion-button>
              <ion-button @click="logout">Logout</ion-button>
            </template>
            <template v-else>
              <ion-button color="dark" @click="updateUser">Update</ion-button>
              <ion-button color="light" @click="exitEditMode">Cancel</ion-button>
              
            </template>
          </ion-col>
         </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-page>
</template>
<script lang="ts" src="./my-profile.ts"></script>
<style lang="scss" src="./my-profile.scss"></style>