<template>
  <div class="long-table-component-outer-wrapper" @click.prevent>
    <div class="table-wrapper">
      <table>
        <thead class="grid">
          <tr class="grid-row">
            <th v-for="(field, index) in fields" v-bind:key="'long-table-' + (index + Math.random())" 
                @click="sortTable(field)"
                class="grid-item grid-item--header"
                :class="{
                  'grid-item--fixed-left': (freezeLeft  && index == 0),
                  'grid-row--fixed-top': (freezeTop)
                }">
              {{ field.hasOwnProperty('label') ? field.label : formatDefaultLabel(field.hasOwnProperty('key')) ? field.key : field  }}
              {{ sortColumn }}
              <div class="arrow" v-if="field == sortColumn" v-bind:class="ascending ? 'arrow_up' : 'arrow_down'"></div>
            </th>
          </tr>
        </thead>
        <tbody class="grid">
          <tr class="" v-for="(item, index) in parsedItems" v-bind:key="index">
            <template v-for="(field, field_index) in fields"  v-bind:key="index + field_index" >
              <td 
                class="grid-item--header"
                :class="{
                  'grid-item--fixed-left': (freezeLeft && field_index == 0)
                }"> 
                <slot :name="getFieldKey(field)" :item="item">
                  {{ item[getFieldKey(field)] }} 
                </slot>
              </td>
            </template>
          </tr>
        </tbody>
      </table>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-toolbar>
            <ion-buttons slot="primary">
              <ion-button @click.prevent="prev()" v-if="curPage > 1 ">
                <ion-icon slot="icon-only" :icon="arrowBackCircle"></ion-icon>
              </ion-button>
              <ion-button @click.prevent="next()" v-if="curPage < totalPages">
                <ion-icon slot="icon-only" :icon="arrowForwardCircle"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>
              <div class="pagination-title">Showing: {{ curPage }} from {{ totalPages }} pages</div>
            </ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</template>

<style lang="scss" src="./LongTable.scss"></style>
<script lang="ts" src="./LongTable.ts"></script>