<template>
  <ion-page class="my-team">
    <AppHeader  pageTitle="My Teams" :desktop="true"></AppHeader>
    <ion-content :fullscreen="true">
      <AppHeader pageTitle="My Teams"></AppHeader>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list v-if="teams && teams.length">
              <ion-item v-for="(record, i) in teams" v-bind:key="i"  button @click="openTeamDetail(record)">
                <ion-avatar  slot="start">
                  <img :src="record.team.team_media.icon">
                </ion-avatar>
                <ion-label>
                  <ion-row>
                    <ion-col size="12" size-md="4">
                      <h2>{{ record.team.team_media.name.toUpperCase() }}</h2>
                      <div>{{ record.team.wins }}-{{ record.team.losses}}<span v-if="record.team.ties">-{{ record.team.ties }}</span></div>
                      <small>{{ record.league.title }}</small>

                    </ion-col>
                    <ion-col size="12" size-md="4"></ion-col>
                    <ion-col align="right" class="ion-hide-sm-down">
                      <ion-icon :icon="arrowForward" />
                    </ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-list>
            <template v-else>
              <h3>No record found.</h3>
            </template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>
<script lang="ts" src="./my-teams.ts"></script>
<style lang="scss" src="./my-teams.scss"></style>