.user-login {
    .container {
        height: 100%;
        background-color: black;
        color: white;
        > .ion-align-items-center {
            height: 100%;
            img {
                max-width: 250px;
            }
        }
    }

}