<template>
  <ion-page class="user-login">
    <!-- <ion-header>
      <ion-toolbar>
        <ion-title>Header</ion-title>
      </ion-toolbar>
    </ion-header> -->
    <ion-content class="">
      <ion-grid class="container">
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <div class="ion-text-center">
              <img
                src="assets/images/rac-logo-black.png"
                class="img-responsive"
              />
            </div>
            <div padding>
              <ion-item class="ion-margin-top">
                <ion-input v-model="form.email" type="email" placeholder="your@email.com"  required></ion-input>
              </ion-item>
              <ion-item class="ion-margin-top">
                <ion-input v-model="form.password" type="password" placeholder="Password"  required></ion-input>
              </ion-item>
            </div>
            <div class="ion-text-center ion-margin-top">
              <ion-button class="rac-button" @click="DoLogin"
                >Sign in <ion-icon :icon="arrowForward"
              /></ion-button>
            </div>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-content>
  </ion-page>
</template>
<script lang="ts" src="./user-login.ts"></script>
<style lang="scss" src="./user-login.scss"></style>
