<template>
  <ion-page class="team-detail" v-if="loaded">
    <AppHeader  :subPage="true"   :pageTitle="playerData['og.description']" :desktop="true"></AppHeader>
    <ion-content :fullscreen="true">
      <AppHeader :subPage="true" :pageTitle="playerData['og.description']"></AppHeader>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <img :src="playerData['og.image']" class="img-circle">
          </ion-col>
          <ion-col size="10">
            <ion-text color="text" class="ion-text-left">
              <h3 class="ion-no-padding ion-no-margin"> {{ playerData['og.title'] }}</h3>
            </ion-text>
            <div class="social-links">
              <a :href="$Helper.data_get(playerData, 'player.facebook', false)" v-if="$Helper.data_get(playerData, 'player.facebook', false)">
                <ion-icon :icon="logoFacebook"></ion-icon>
              </a>
              <a :href="$Helper.data_get(playerData, 'player.twitter', false)" v-if="$Helper.data_get(playerData, 'player.twitter', false)">
                <ion-icon :icon="logoTwitter"></ion-icon>
              </a>
              <a :href="$Helper.data_get(playerData, 'player.tiktok', false)" v-if="$Helper.data_get(playerData, 'player.tiktok', false)">
                <ion-icon :icon="logoTiktok"></ion-icon>
              </a>
              <a :href="$Helper.data_get(playerData, 'player.instagram', false)" v-if="$Helper.data_get(playerData, 'player.instagram', false)">
                <ion-icon :icon="logoinstagram"></ion-icon>
              </a>
            </div>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col>
              <ion-segment scrollable v-model="activeSegment" >
                <ion-segment-button value="0">
                  Stats
                </ion-segment-button>
                <ion-segment-button value="1">
                  Teams
                </ion-segment-button>
                <ion-segment-button value="2">
                  Achieve
                </ion-segment-button>
                <ion-segment-button value="3">
                  Records
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>
          <!-- stat -->
          <template v-if="activeSegment == '0'">
            <ion-row >
              <ion-col size="12">
                <ion-text color="primary">
                  <h4>Stats</h4>
                </ion-text>
                <StatTable 
                  :items="playerData.player.career_stats" 
                  
                  :params="null"
                  :hasName="false"
                  v-if="playerData.player.career_stats"
                ></StatTable> 
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="12">
                <ion-text color="primary">
                  <h4>game</h4>
                </ion-text>
                <StatTable 
                  :items="playerData.player.game_stats" 
                  :params="null"
                  :hasName="false"
                  v-if="playerData.player.game_stats"
                ></StatTable> 
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="12">
                <ion-text color="primary">
                  <h4>league_stats</h4>
                </ion-text>
                <StatTable 
                  :items="playerData.player.league_stats" 
                  :params="null"
                  :hasName="false"
                  v-if="playerData.player.league_stats"
                ></StatTable> 
              </ion-col>
            </ion-row>
          </template>
          <!-- Team -->
          <template v-else-if="activeSegment == '1'">
            <ion-row>
              <ion-col>
                <ion-list v-if="playerData.player.user_teams.length">
                  <ion-item v-for="(record, i) in playerData.player.user_teams" v-bind:key="i"  button @click="openTeamDetail(record)">
                    <!-- {{ record }} -->
                    <ion-avatar  slot="start">
                      <img :src="record.team.team_media.icon">
                    </ion-avatar>
                    <ion-label>
                      <ion-row>
                        <ion-col size="12" size-md="4">
                          <h2>{{ record.team.team_media.name }}</h2>
                        </ion-col>
                        <ion-col size="12" size-md="4">{{ record.team.wins }}-{{ record.team.losses}}-{{ record.team.ties }}</ion-col>
                        <ion-col align="right" class="ion-hide-sm-down">
                          <ion-icon :icon="arrowForward" />
                        </ion-col>
                      </ion-row>
                    </ion-label>
                  </ion-item>
                </ion-list>
                <template v-else>
                  <h2>No Records found</h2>
                </template>
              </ion-col>
            </ion-row>
          </template>

          <!-- achievements -->
          <template v-else-if="activeSegment == '2'">
            <template v-if="playerData.player.achievements_earned.length == 0">
              <ion-title class="ion-no-padding">
                <h2>No Achievements Unlocked Yet</h2>
              </ion-title>
            </template>
            <template v-else>
              <ion-row class="ion-text-center ion-justify-content-center">
                <template v-for="item in playerData.player.achievements_earned"  v-bind:key="Math.random() + item.id">
                  <ion-col size="8">
                    <ion-card>
                      <img :alt="item.badge.title" :src="$Helper.getWebAssetAbsoluteURL(item.badge.badge)" />
                      <ion-card-header>
                        <ion-card-title>{{ item.badge.title }}</ion-card-title>
                        <ion-card-subtitle>{{ item.league.title }}</ion-card-subtitle>
                      </ion-card-header>

                      <!-- <ion-card-content>
                        Here's a small text description for the card content. Nothing more, nothing less.
                      </ion-card-content> -->
                    </ion-card>
                  </ion-col>
                </template>
              </ion-row>
            </template>
          </template>


          <!-- records -->
          <template v-else-if="activeSegment == '3'">
            <template v-if="playerData.player.records.length == 0">
              <ion-title>
                <h2>No records found</h2>
              </ion-title>
            </template>
            <template v-else>
              <ion-row class="ion-justify-content-center ion-text-capitalize">
                <template v-for="item in playerData.player.records"  v-bind:key="Math.random() + item.id">
                  <ion-col size="8">
                    <ion-card class="ion-no-margin" @click.prevent="$router.push('/home/game/' + item.game.id)">
                      <ion-card-header>
                        <ion-card-title class="ion-text-center">
                          <ion-text color="primary" class="ion-text-center">
                            <h1 class="ion-no-padding ion-no-margin">{{ item.value  }}</h1>
                          </ion-text>
                          <ion-text color="primary" class="ion-text-center">
                            <h4 class="ion-no-padding ion-no-margin">{{ description_abb(item.stat)  }}</h4>
                          </ion-text>
                        </ion-card-title>
                      </ion-card-header>
                      
                      <ion-card-content class="ion-text-center">
                        <div >
                          <ion-chip>
                            <ion-avatar><img :src="item.team.team_media.icon" /></ion-avatar>
                            <ion-label>{{ item.team.team_media.name }}</ion-label>
                          </ion-chip>
                        </div>
                        <template v-if="item.type == 'game'">
                          <ion-label>{{ item.league.title }}</ion-label>
                          Single game record: 

                          {{ $Helper.formatDate(item.game.game_time, 'date')  }}
                        </template>
                        <template v-else>
                            <ion-label>{{ item.league.title }}</ion-label>
                        </template>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </template>
              </ion-row>
            </template>
          </template>

          

          <!-- old -->
          <ion-row v-if="false">
            <ion-col>
              <ion-slides pager="true" ref="slides" @ionSlideDidChange="onSlideChange($event)">
                <ion-slide class="slide-1">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <ion-text color="primary">
                          <h4>Stats</h4>
                        </ion-text>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <StatTable :items="playerData.player.career_stats" v-if="playerData.player.career_stats"></StatTable> 
                  <LongTable :items="items" :fields="fields" name="Tab 2 page">
                    <template #cell(first_name)="data">
                      <b class="text-info">{{ data.value.last.toUpperCase() }}</b>, <b>{{ data.value.first }}</b>
                    </template>
                  </LongTable>

                </ion-slide>
                <ion-slide class="slide-2">
                  <ion-text color="primary">
                    <h4>Teams</h4>
                  </ion-text>
                </ion-slide>
                <ion-slide class="slide-3">
                  Topic
                </ion-slide>
                <ion-slide class="slide-1">
                  Query
                </ion-slide>
              </ion-slides>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-content>
    
  </ion-page>
</template>
<script src="./team-person.ts" lang="ts"></script>
<style lang="scss" src="./team-person.scss"></style>