<template>
  <ion-page>
    <ion-tabs v-if="loaded">
      <ion-router-outlet></ion-router-outlet>
      <ion-tab-bar color="text" slot="bottom">
        <ion-tab-button tab="Profile" href="/home/my-profile">
          <ion-icon :icon="personOutline" />
          <ion-label>Profile</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="MyTeams" href="/home/my-teams">
          <ion-icon :icon="peopleOutline" />
          <ion-label>My Teams</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="MyGames" href="/home/my-games">
          <ion-icon :icon="caretForwardCircleOutline" />
          <ion-label>My Games</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="Leagues" href="/home/leagues">
          <ion-icon :icon="listCircleOutline" />
          <ion-label>Leagues</ion-label>
        </ion-tab-button>
<!-- 
        <ion-tab-button tab="Chats" href="/home/chat">
          <ion-icon :icon="chatbubbleOutline" />
          <ion-label>Chat**</ion-label>
        </ion-tab-button> -->
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>
<script lang="ts" src="./HomePage.ts"></script>
