<template>
  <div class="stat-table-component-outer-wrapper" @click.prevent>
    <!-- {{ params }} -->
    <!-- {{ records }} -->
    <template v-if="records.length">
      <LongTable :items="records" :fields="fields">
        <template #[mySlot(field)]="record"  v-for="field in fields" v-bind:key="mySlot(field)">
          <!-- default plaecholder name slot -->
          <slot :name="'name'" :item="record.item" v-if="mySlot(field) === 'name'">
            <!-- <ion-avatar>
              <img  :src="record.item.avatar" />
            </ion-avatar> -->
            <div>{{ record.item?.user?.first_name }} {{ record.item?.user?.last_name }}</div>
          </slot>
          <slot :name="mySlot(field)" :item="record.item" v-else>
            {{ record?.item[mySlot(field)] }}
          </slot>
        </template>
      </LongTable>
    </template>
    <template v-else>
      No record found!
    </template>
    
  </div>
</template>

<style lang="scss" src="./StatTable.scss"></style>
<script lang="ts" src="./StatTable.ts"></script>