.header-desktop {
    ion-title {
        display: flex;
        justify-content: center;
    }
    .title {
        display: flex;
        align-items: center;
        .ios {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @media screen and (max-width: 767px) {

        &.header-collapse-condense-inactive {
            ion-back-button {
                display: none;
            }
            .logo {
                display: none;
            }
        }
    }
}

.header-mobile {
    .title {
        .ios {
            padding-left: 0;
            padding-right: 0;
        }
    }
}