<template>
    <ion-header class="app-header header-desktop" v-if="desktop">
      <ion-toolbar>
        <ion-buttons v-if="subPage" collapse slot="start">
          <ion-back-button default-href="/home"></ion-back-button>
        </ion-buttons>

        <ion-buttons v-if="!subPage" collapse slot="start">
          <!-- <ion-back-button default-href="/home"></ion-back-button> -->
        </ion-buttons>
        <ion-grid>
          <ion-row>
            <ion-col class="title"><ion-title>{{ pageTitle }}</ion-title></ion-col>
            <ion-col size="3"><img class="logo show-on-dark" src="assets/images/rac-logo-black.png"><img class="logo show-on-light" src="assets/images/rac-logo.png"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>
    <ion-header collapse="condense" class="header-mobile" v-if="!desktop">
      <ion-toolbar>
        <ion-buttons v-if="subPage" slot="start">
          <ion-back-button default-href="/home"></ion-back-button>
        </ion-buttons>
        
        <ion-buttons v-if="!subPage" collapse slot="start">
          <!-- <ion-back-button default-href="/home"></ion-back-button> -->
        </ion-buttons>
        <ion-grid>
          <!-- <ion-row>
            <ion-col size="2"><img src="assets/images/rac-logo.png"></ion-col>
            <ion-col><ion-title class="title">{{ pageTitle }}</ion-title></ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col class="title"><ion-title>{{ pageTitle }}</ion-title></ion-col>
            <ion-col size="3"><img class="logo show-on-dark" src="assets/images/rac-logo-black.png"><img class="logo show-on-light" src="assets/images/rac-logo.png"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>
</template>
<script lang="ts" src="./AppHeader.ts"></script>
<style lang="scss" src="./AppHeader.scss"></style>