.top-info {
  display: flex;
  align-items: center;

  .top-score-box {
    h1 {
      margin: 0;
    }
    .middle {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}