<template>
   <ion-page class="team-detail">
    <AppHeader  :subPage="true"   pageTitle="Game" :desktop="true"></AppHeader>
    <ion-content :fullscreen="true">
      <AppHeader :subPage="true"  pageTitle="Game"></AppHeader>
      <!-- <pre>{{ leagues }}</pre> -->
      <ion-grid v-if="game">
        <ion-row class="top-info">
          <ion-col size="3" class="ion-padding">
            <ion-img :src="game.home_team.team_media.icon" class="img-circle img-responsive"></ion-img>
            <ion-text>
              <h5 class="ion-text-center">{{ game.home_team.team_media.abb.toUpperCase() }}</h5>
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-row class="top-score-box">
              <ion-col size="3">
                <ion-text>
                  <h1>{{ game.home_score }}</h1>
                </ion-text>
              </ion-col>
              <ion-col size="6" class="middle">
                  <ion-text class="ion-text-center">
                    -
                    <!-- <ion-icon :icon="caretForwardOutline" /> -->
                  </ion-text>
              </ion-col>
              <ion-col size="3">
                <ion-text>
                  <h1>{{ game.away_score }}</h1>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="3" class="ion-padding">
            <ion-img :src="game.away_team.team_media.icon" class="img-circle img-responsive"></ion-img>
            <ion-text>
              <h5 class="ion-text-center">{{ game.away_team.team_media.abb.toUpperCase() }}</h5>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
           Field {{  game.field_side }}
          </ion-col>
         
        </ion-row>
        <ion-row class="ion-margin-bottom ion-text-center">
          <ion-col>
           {{  $Helper.formatDate(game.game_time, 'short_date') }}<br>
            {{ $Helper.formatDate(game.game_time, 'time') }}
            
          </ion-col>
          <ion-col>
            <div>{{game.field.name}}</div>
            <a :href="'maps://maps.google.com/?q='+game.field.address+','+game.field.city+','+game.field.zip">Get Directions</a><br>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-segment v-model="activeSegment" >
              <ion-segment-button value="boxscore">
                Box Score
              </ion-segment-button>
              <ion-segment-button value="pbp">
                Play-by-play
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
        <ion-row v-if="activeSegment == 'boxscore'">
          <ion-col>
            <ion-segment :class="'white'" v-model="boxScoreView" >
              <ion-segment-button value="home">
                {{ game.home_team.team_media.name }}
              </ion-segment-button>
              <ion-segment-button value="away">
                {{ game.away_team.team_media.name }}
              </ion-segment-button>
            </ion-segment>
            <br />
            {{ boxScoreView }}


            <div v-show="boxScoreView == 'home'">

              <div>Passing</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                  team_id: game.home_team.id,
                  game_id:game.id,
                  league_id: game.home_team.league_id
                }"
                :onlyFields="passing_stats_main()"
              >
              </StatTable>
              <div>Receiving</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                 team_id: game.home_team.id,
                 game_id:game.id,
                  league_id: game.home_team.league_id
                }"
                :onlyFields="receiving_stats_main()"
              >
              </StatTable>
              <div>Defense</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                  team_id: game.home_team.id,
                  game_id:game.id,
                  league_id: game.home_team.league_id
                }"
                :onlyFields="defense_stats_main()"
                
              >
              </StatTable>
              
             
            </div>

            <div v-show="boxScoreView == 'away'">
              <div>Passing</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                  team_id: game.away_team.id,
                  game_id:game.id,
                  league_id: game.away_team.league_id
                }"
                :onlyFields="passing_stats_main()"
              >
              </StatTable>
              <div>Receiving</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                 team_id: game.away_team.id,
                 game_id:game.id,
                  league_id: game.away_team.league_id
                }"
                :onlyFields="receiving_stats_main()"
              >
              </StatTable>
              <div>Defense</div>
              <StatTable 
                :params="{
                  playerType: 'all',
                  team_id: game.away_team.id,
                  game_id:game.id,
                  league_id: game.away_team.league_id
                }"
                :onlyFields="defense_stats_main()"
                
              >
              </StatTable>
            </div>
          </ion-col>
        </ion-row>
        <ion-row v-if="activeSegment == 'pbp'">
          <ion-col>
            <PlaybyPlay 
              v-if="game.plays"
              :game="game"
            ></PlaybyPlay> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./game-detail.ts"></script>
<style lang="scss" src="./game-detail.scss"></style>