<template>
  <div class="schedule-outer-wrapper " @click.prevent>
    <ion-row 
      v-for="(item, index) in games.data" class="row ion-align-items-center" 
      v-bind:key="'list-schedule-item' + index + Math.random()"
      @click="setGame(item)"
    >
      <ion-col size="8">
        <ion-row >
          <ion-col size="2">
            <img :src="item.home_team.team_media.icon" class="img-circle img-responsive" />
          </ion-col>
          <ion-col size="5">
            {{  item.home_team.team_media.name.toUpperCase() }}
          </ion-col>
          <ion-col class="">
            <!-- <span class="ion-color-medium">{{ team.score }}</span> -->
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col size="2">
            <img :src="item.away_team.team_media.icon" class="img-circle img-responsive" />
          </ion-col>
          <ion-col size="5">
            {{ item.away_team.team_media.name.toUpperCase() }}
          </ion-col>
          <ion-col class="">
            <!-- <span class="ion-color-medium">{{ item.score }}</span> -->
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="4">
        <ion-row v-if="true" >
          <ion-col size="12"> 
            <!-- <span class="schedule-text" >{{ moment(item.game_time, 'YYYY-MM-DD HH:mm:ss').format('YYYY-MM-DD HH:mm:ss') }}</span> -->
            <span class="schedule-text" >{{ $Helper.formatDate(item.game_time, 'short_date') }}</span>
            <br>
            <span class="schedule-text" >{{ $Helper.formatDate(item.game_time, 'time') }}</span><br>
              <span class="schedule-text" >Field {{ item.field_side }}</span>

            <!-- <span class="schedule-text">{{ moment(item.game_time).format('h:mm a') }}</span> -->
          </ion-col>
          <!-- <ion-col size="2">
            <ion-icon :icon="notificationsCircle" />
          </ion-col> -->
        </ion-row>
      </ion-col>

      <ion-col size="12">
        {{ item.league.title }}
      </ion-col>

    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-toolbar>
            <ion-buttons slot="primary">
              <ion-button @click.prevent="showPrev()" v-if="curPage > 1 ">
                <ion-icon slot="icon-only" :icon="arrowBackCircle"></ion-icon>
              </ion-button>
              <ion-button @click.prevent="showMore()" v-if="games.current_page < games.last_page">
                <ion-icon slot="icon-only" :icon="arrowForwardCircle"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>
              <div class="pagination-title">Showing: {{ curPage }} from {{ games.total }} pages</div>
            </ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div v-if="!games.data">
      No record found!
    </div>
  </div>
</template>

<style lang="scss" src="./GamesTable.scss"></style>
<script lang="ts" src="./GamesTable.ts"></script>