.schedule-outer-wrapper {
    .img-circle {
        width: 30px;
        height: 30px;
    }
    .row {
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    .schedule-text {
        font-weight: 500;
        font-size: 13px;
        color: var(--ion-color-step-500);
    }
}