<template>
  <ion-app>
    <ion-router-outlet />
  </ion-app>
</template>

<script lang="ts">
import { IonApp, IonRouterOutlet } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'App',
  components: {
    IonApp,
    IonRouterOutlet
  },
  async created () {
    await this.$store.dispatch("user/ME")

    // try {
    //   const response = await this.$ApiPlugin.user.me()
    //   this.$store.commit("user/SET_USER", response.data)
    //   this.$router.push('/home/') 
    // } catch (err) {
    //   this.$router.push('/')
    //   console.log(err)
    // }
  }
});
</script>