<template>
   <ion-page class="team-detail">
    <AppHeader  :subPage="false"   pageTitle="League" :desktop="true"></AppHeader>
    <ion-content :fullscreen="true">
      <AppHeader :subPage="false"  pageTitle="League"></AppHeader>
      <!-- <pre>{{ leagues }}</pre> -->
      <ion-card  v-for="league in leagues.data" v-bind:key="league.id">
        <ion-card-header>
          <ion-img :src="league.image_src"></ion-img>
          <ion-card-title>{{ league.title }}</ion-card-title>
          <ion-card-subtitle>{{ league.league_type }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
         <ion-row>
          <ion-col size="6">
            <h2>City</h2>
            {{ league.city }}
          </ion-col>
          <ion-col size="6">
            <h2>DAY</h2>
            {{ league.day }}
          </ion-col>
         </ion-row>


         <ion-row>
          <ion-col size="6">
            <h2>Format</h2>
            {{ league.type }}
          </ion-col>
          <ion-col size="6">
            <h2>ORG</h2>
            {{ league.org.org_name }}
          </ion-col>
         </ion-row>


         <ion-row>
          <ion-col size="6">
            <h2>Start Time</h2>
            <template v-if="league.start_time">{{ league.start_time }}</template>
            <template v-else>TBD</template>
          </ion-col>
         </ion-row>
         <ion-row>
          <ion-col size="12">
            <ion-button color="primary" @click="setLeague(league)">View League</ion-button>
          </ion-col>
         </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./my-leagues.ts"></script>
<style lang="scss" src="./my-leagues.scss"></style>