<template>
  <ion-page class="team-detail">
    <AppHeader  :subPage="false"   pageTitle="My Games" :desktop="true"></AppHeader>
    <ion-content :fullscreen="true">
      <AppHeader :subPage="false"  pageTitle="My Games"></AppHeader>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-segment v-model="activeSegment" >
              <ion-segment-button value="upcoming">
                Upcoming
              </ion-segment-button>
              <ion-segment-button value="recent">
                Recent
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <template v-if="activeSegment == 'upcoming'">
              <GamesTable :params="{ 
                  user_id: profile.id,
                  per_page: 1,
                  type: 'upcoming'
                }" :games="upcomings">
              </GamesTable>
            </template>

            <template v-if="activeSegment == 'recent'">
              <GamesTable :params="{ 
                  user_id: profile.id,
                  per_page: 10,
                  type: 'recent'
                }" :games="recents">
              </GamesTable>
            </template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>
<script lang="ts" src="./my-games.ts"></script>
<style lang="scss" src="./my-games.scss"></style>